[Desktop Entry]
Encoding=UTF-8
Name=Link to Physiotherapy directory – Zimbabwe Physiotherapy Association
Type=Link
URL=https://www.zimphysio.org.zw/wp-content/uploads/2018/01/default-avatar-2.jpg
Icon=image-jpeg
