{% extends 'blog/base.html' %}
	{% block content %}
	 		<article class="media content-section">
	 		 <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
			  <div class="media-body">
			    <div class="article-metadata">
			      {% if object.author.first_name and object.author.last_name%}
			      <a class="mr-2" href="#">{{ object.author.first_name }} {{object.author.last_name }}</a>
			      {% else %}
			      <a class="mr-2" href="#">{{ object.author }}</a>
			      {% endif %}
			      <small class="text-muted">{{ object.date_posted|date:'h:i a,F d' }}</small>
			    </div>
			    <h2 class="article-title" >{{ object.title }}</h2>
			    <p class="article-content">{{ object.content }}</p>
			  </div>
			</article>
 	{% endblock %}
